body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100vh; /* Ensure full viewport height */
  display: flex;
  flex-direction: column;
}

#camera {
  width: 100%;
  height: 33.33vh;
  object-fit: cover;
  margin-top: 0;
  position: relative; /* Needed to position the overlay */
}

#dim-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  display: none; /* Initially hidden */
  z-index: 10; /* Ensure it appears above the video */
}

#result {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

#total-price {
  font-weight: bold;
  font-size: 1.2em;
}

#reset-button {
  padding: 10px 20px;
  margin-top: 20px;
}
