body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100vh; /* Ensure full viewport height */
  display: flex;
  flex-direction: column;
}

#camera {
  width: 100%; /* Full width */
  height: 33.33vh; /* 1/3 of the viewport height */
  object-fit: cover; /* Ensure the video fills the area without distorting */
  margin-top: 0;
  transition: opacity 0.5s ease; /* Smooth transition for dimming */
}

#camera.dim {
  opacity: 0.3; /* Dim the video */
}

#result {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

#total-price {
  font-weight: bold;
  font-size: 1.2em;
}

#reset-button {
  padding: 10px 20px;
  margin-top: 20px;
}
